.arrangementContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.arrangementContainer button {
    max-width: max-content;
    margin-inline: auto;
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}