.uploadPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.tabs {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.activeTab {
    background-color: var(--accent-color);
}