.upload-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.tabs {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.active-tab {
    background-color: var(--accent-color);
}

form {
    display: flex;
    gap: 1rem;
    width: 600px;
    border: solid var(--primary-color);
    border-radius: 2rem;
    padding: 1rem;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
}

.checkbox {
    display: flex;
    gap: 1rem;
}

input, textarea, select {
    width: 100%;
    border-radius: 1rem;
    padding: 0.3rem;
    border: 1px solid var(--primary-color);
}

select {
    background-color: var(--primary-color);
    padding-right: 0.5rem;
}


/*Error handling*/

.input-error {
    border: 1px solid red;
}

.error-message {
    color: red;
}
