.tableContainer {
    overflow-x: auto;
}
.userTable {
    border-collapse: collapse;
    margin-block: 1rem;
}

.userTable th,
.userTable td {
    border: 1px solid var(--first-color);
    padding: 0.6rem;
    text-align: left;
}

.userTable th {
    background-color: var(--first-color);
}

.actions {
    display: flex;
    gap: 0.5rem;
}
