form {
    display: flex;
    gap: 0.4rem;
    max-width: 600px;
    border: solid var(--primary-color);
    border-radius: 2rem;
    padding: 1rem;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
