.button {
    font-family: inherit;
    display: flex;
    width: max-content;
    min-width: 5rem;
    height: auto;
    margin: 0.6rem 0;
    padding: 0.6rem;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 1rem;
    background: var(--red-color);
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    cursor: pointer; /* Verplaatst naar hier om het overal te beheren */
}

.button:disabled {
    background: inherit;
    cursor: not-allowed;
    border: 1px solid var(--primary-color);
}

.button:disabled:hover {
    background: transparent;
}

.button:hover {
    background: var(--red-hover-color);
}

.button:active {
    background: var(--red-active-color);
}

.secondary {
    background: var(--primary-color);
}

.secondary:hover {
    background: var(--hover-color);
}

.secondary:active {
    background: var(--accent-color);
}

.danger {
    background-color: transparent;
    border: 1px solid red;
}

.simple {
    background-color: transparent;
    border: 1px solid var(--primary-color);
}

.simple:hover {
    background-color: var(--hover-color);
}
