button {
    font-family: inherit;
    display: flex;
    width: max-content;
    min-width: 5rem;
    height: 2rem;
    padding: 0.6rem;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 1rem;
    background: var(--red-color);
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

button:hover {
    background: var(--red-hover-color);
    cursor: pointer;
}

button:active {
    background: var(--red-active-color);
}