.button {
    font-family: inherit;
    display: flex;
    width: max-content;
    min-width: 5rem;
    height: auto;
    padding: 0.6rem;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 2rem;
    background: var(--second-color);
    box-shadow: rgba(0, 0, 0, 0.05) 0.2rem 0.6rem 1rem 0;
    cursor: pointer;
}

.button:disabled {
    background: inherit;
    cursor: not-allowed;
    border: 1px solid var(--first-color);
}

.button:disabled:hover {
    background: transparent;
}

.button:hover {
    background: var(--second-hover-color);
}

.button:active {
    background: var(--second-accent-color);
}

.secondary {
    background: var(--first-color);
}

.secondary:hover {
    background: var(--first-hover-color);
}

.secondary:active {
    background: var(--first-accent-color);
}

.danger {
    background-color: transparent;
    border: 1px solid red;
}

.danger:hover {
    background-color: var(--danger-hover-color);
}

.simple {
    background-color: transparent;
    border: 1px solid var(--first-color);
}

.simple:hover {
    background-color: var(--first-hover-color);
}

.small {
    background-color: transparent;
    padding: 0.2rem;
    box-shadow: none;
}

.small:hover {
    background-color: var(--first-hover-color);
}
