aside {
    position: sticky;
    align-self: flex-start;
    top: 6rem;
    height: calc(100vh - 6rem); /* exact onder de header blijven */
    background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="258" height="654" viewBox="0 0 258 654" fill="none"%3E%3Cpath d="M0 0H93.1767C153.282 0 183.335 0 201.09 18.7804C218.845 37.5608 217.14 67.9228 213.729 128.647C197.102 424.669 208.905 569.367 258 734H0V0Z" fill="%23bad1ac"/%3E%3C/svg%3E') no-repeat -1.4rem 0;
    background-size: cover;
    padding: 2rem;
    flex: 1 1 18rem;
    min-width: 16rem;
    max-width: 20rem;
}

.navigation {
    font-size: 1.5rem;
    padding-bottom: 0.4rem;
    padding-right: 2.8rem;
    overflow-wrap: break-word;
    word-break: break-word;
}

.submenu {
    padding-left: 0.6rem;
    font-size: 1.2rem;
    max-height: calc(100vh - 26rem);
    min-height: 4.4rem;
    overflow-y: auto;
    direction: rtl;
    text-align: left;
}

.submenu > * {
    direction: ltr;
    word-break: break-word;
    overflow-wrap: break-word;
}

.submenu::-webkit-scrollbar-track {
    background: var(--primary-color);
    border-radius: 1rem;
    margin: 0.4rem;
}

.submenu::-webkit-scrollbar {
    width: 0.4rem;
}

.defaultMenuLink:hover {
    color: var(--hover-color);
}

.activeSubmenuLink, .activeSubmenuLink:hover {
    color: var(--red-active-color);
}

.activeMenuLink, .activeMenuLink:hover {
    color: var(--red-active-color);
    padding-left: 1rem;
}

.defaultMenuLink, .defaultSubmenuLink {
    color: var(--secondary-color);
}

@media (max-width: 600px) or (orientation: portrait) {
    aside {
        top: 4rem;
        flex: 1 1 12rem;
        min-width: 12rem;
        max-width: 18rem;
        padding: 0;
        background-image: none;
    }

    .navigation {
        margin-top: -0.1rem;
        margin-left: -0.1rem;
        margin-right: 1.2rem;
        padding: 1.2rem;
        border: 1px solid var(--primary-color);
        border-radius: 0 0 2rem 0;
        white-space: none;
    }
}

@media (max-width: 768px) {
    .defaultMenuLink {
        cursor: pointer;
    }
}