.toolbar {
    display: flex;
    max-width: max-content;
    margin-inline: auto;
    border: 1px solid var(--first-color);
    border-bottom: none;
    border-radius: 2rem;
}

.activeTab {
    background-color: var(--first-accent-color);
}