.toolbar {
    display: flex;
    align-self: center;
    border: 1px solid var(--first-color);
    border-radius: 2rem;
    width: inherit;
}

.activeTab {
    background-color: var(--first-accent-color);
}