.moreItemsTile {
    margin-block: 0.4rem;
}

.itemList {
    display: flex;
    gap: 0.6rem;
    overflow-x: auto;
    white-space: nowrap;
    padding: 0 0 0.4rem 0;
    max-width: 100%;
}

.secondary li, .secondary video, .secondary img {
    width: 150px;
}

.itemList li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.4rem 0.4rem 0;
    width: 100%;        /* Zorg dat de a zich niet uitrekt buiten li */
    overflow: hidden;   /* voorkom dat inhoud buiten de a valt */
    text-align: center; /* voor consistentie met de h4 */
    border: 1px solid var(--primary-color);
    border-radius: 1.4rem;
}

/* Verhoog de hoogte van de video en afbeeldingen inclusief de titel */
.itemList li h5, .itemList li h4 {
    text-align: center;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--secondary-color);
}

.itemList li h4:hover, .itemList li h5:hover {
    color: var(--hover-color);
}

.itemList li img, .itemList li video {
    max-width: 180px;
    max-height: 134px;
    object-fit: cover; /* Zorgt ervoor dat de inhoud van het beeld/video goed wordt ingepast */
}

/* Scrollbalk voor WebKit browsers */
.itemList::-webkit-scrollbar {
    height: 0.8rem; /* Hoogte van de horizontale scrollbar */
}

.itemList::-webkit-scrollbar-track {
    background: var(--primary-color); /* Achtergrondkleur van de track */
    border-radius: 1rem;
}

.itemList::-webkit-scrollbar-thumb {
    background: var(--secondary-color); /* Kleur van de scrollbar zelf */
    border-radius: 1rem; /* Maakt het een perfecte cirkel */
}
