.publicHeader {
    display: flex;
    justify-content: center;
}

.centerContainer {
    display: flex;
    flex-basis: 30rem;
    border-radius: 0 0 4rem 4rem;
    background-color: var(--first-color-dark);
}

.authHeader {
    display: flex;
    justify-content: space-between;
}

.leftContainer, .rightContainer, .centerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    padding: 1.2rem;
}

.leftContainer {
    border-radius: 0 0 4rem 0;
    padding-right: 3.4rem;
    padding-left: 2rem;
    min-width: 21rem;
    background-color: var(--first-color-dark);
}

.headerTitle,
.headerTitle:hover {
    white-space: nowrap;
    color: var(--first-hover-color);
}

.rightContainer {
    gap: 0.8rem;
    border-radius: 0 0 0 4rem;
    padding-left: 3.4rem;
    background-color: var(--fourth-color);
}

.accountName {
    color: var(--third-color);
}

.menuIcon button {
    width: max-content;
    border: none;
    background: none;
    color: var(--third-color);
    cursor: pointer;
}

.profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profileCircle {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--first-accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.link {
    color: var(--first-color-dark);
}

.link:hover {
    color: var(--first-hover-color);
}

.mobileToggle {
    display: none;
}

@media (max-width: 600px) {
    .leftContainer {
        margin-right: -2rem;
    }
}

@media (max-width: 480px) {
    .mobileToggle {
        display: block;
        flex-shrink: 0;
        background: none;
        border: none;
        margin-right: 1rem;
        cursor: pointer;
        color: var(--first-hover-color);
    }

    .leftContainer {
        justify-content: flex-start;
        padding-left: 1.2rem;
    }

    .accountName {
        display: none;
    }
}