.publicHeader {
    display: flex;
    justify-content: center;
}

.centerContainer {
    display: flex;
    justify-content: center;
    flex-basis: 30rem;
    border-radius: 0 0 4rem 4rem;
    background-color: var(--secondary-color);
}

.authHeader {
    display: flex;
    justify-content: space-between;
}

.leftContainer, .rightContainer, .centerContainer {
    display: flex;
    align-items: center;
    height: 4rem;
    padding: 2rem;
}

.leftContainer {
    border-radius: 0 0 4rem 0;
    padding-right: 3rem;
    background-color: var(--secondary-color);
}

.headerTitle,
.headerTitle:hover {
    white-space: nowrap;
    color: var(--primary-color);
}

.rightContainer {
    gap: 1rem;
    border-radius: 0 0 0 4rem;
    padding-left: 3rem;
    background-color: var(--primary-color);
}

.menuIcon button {
    width: max-content;
    border: none;
    background: none;
    cursor: pointer;
}

.profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profileCircle {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.link {
    color: var(--secondary-color);
}

.link:hover {
    color: var(--hover-color);
}

@media (max-width: 600px) {
    .leftContainer {
        flex: 1;
        margin-right: -2rem;
    }
}