.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftContainer, .rightContainer {
    display: flex;
    align-items: center;
    height: 5rem;
    background-color: var(--primary-color);
    padding: 2rem;
}

.leftContainer {
    border-radius: 0 0 2rem 0;
}

.headerTitle,
.headerTitle:hover {
    color: var(--secondary-color);
}

.rightContainer {
    border-radius: 0 0 0 2rem;
}

.rightContainer ul {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menuIcon {
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
}

.profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profileCircle {
    width: 3rem;
    height: 3rem;
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
