.moreItemsTile {
    margin-block: 0.5rem;
}

.itemList {
    display: flex;
    gap: 0.5rem;
    overflow-x: auto;
    white-space: nowrap;
    padding: 0 0 0.5rem 0;
    max-width: 100%;
}

.itemList li {
    flex-shrink: 0;
    max-width: 200px;
}

.secondary video, .secondary li {
    width: 170px;  /* Kleiner dan 244px */
    height: 134px; /* Evenredig verkleind */
}


/*!* Verborgen scrollbar in Firefox *!*/
/*scrollbar-width: thin; !* "auto", "thin", of "none" *!*/
/*scrollbar-color: #888 #f1f1f1; !* Scrollbalk kleur + achtergrondkleur *!*/

/* Scrollbar voor WebKit (Chrome, Edge, Safari) */
.itemList::-webkit-scrollbar {
    height: 0.8rem; /* Hoogte van de horizontale scrollbar */
}

.itemList::-webkit-scrollbar-track {
    background: var(--primary-color); /* Achtergrondkleur van de track */
    border-radius: 1rem;
}

.itemList::-webkit-scrollbar-thumb {
    background: var(--secondary-color); /* Kleur van de scrollbar zelf */
    border-radius: 1rem; /* Maakt het een perfecte cirkel */
    margin: 0.4rem; /* Voegt ruimte toe om de bol 'vrij' te laten zweven */
}

/*.moreItemsTile span::-webkit-scrollbar-thumb:hover {*/

/*}*/
