.searchTile {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.searchArea {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.optionsContainer {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.buttons {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
}

.selected {
    font-weight: bold;
}