.searchTile {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

.optionsContainer {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.selected {
    font-weight: bold;
}