.dragDropContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 20rem;
    padding: 1rem;
    border: 2px dashed var(--hover-color);
    border-radius: 2rem;
}

.dragDropContainer:hover {
    cursor: pointer;
}

.dragging {
    background-color: var(--hover-color);
    border-color: var(--secondary-color);
}


/*.draggableItem {*/
/*    padding: 1rem;*/
/*    margin: 1rem 0;*/
/*    background-color: white;*/
/*    border: 1px solid var(--hover-color);*/
/*    cursor: grab;*/
/*}*/

.draggableItem:active {
    cursor: grabbing;
}
