#root {
  position: absolute;
  margin: 0 auto;
}

Header {
  position: fixed;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 2rem 2rem 2rem 18rem;
  padding: 1rem;
  /*max-width: 76vw;*/
}

.upperContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.lowerContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.leftItems {
  max-width: 60%;
}

.rightItems {
}