#root {
  position: absolute;
  margin: 0 auto;
}

Header {
  position: fixed;
  width: 100%;
}

main {
  margin: 120px 220px 100px 280px;
  padding: 1rem;
  max-width: 76vw;
}

.left-container-aaaaa {
  display: flex;
  flex-direction: column;
}
