#root {
  position: absolute;
  margin: 0 auto;
}

Header {
  position: fixed;
  width: 100%;
}

main {
  margin: 150px 220px 100px 280px;
  padding: 1rem;
}

svg {
  position: fixed;
  bottom: 0;
  left: 0;
  height: auto;
}
