Header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.layout {
    display: flex;
    padding-top: 3.6rem;
    height: 100vh;
}

main {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding-block: 1.2rem;
    gap: 1rem;
    overflow-x: hidden;
    width: 100%;
    mask-image: linear-gradient(to bottom, transparent, black 7%);
}

.centerContainer {
    margin: 4rem auto;
    text-align: center;
}

.centerContainer button {
    align-self: center;
}

.backgroundImage {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: auto;
    z-index: -1;
    opacity: 0.15;
    pointer-events: none;
}

.leftContainer, .rightContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding-block: 1rem;
    padding-right: 1.4rem;
}

.leftContainer {
    flex: 1 1 34rem;
    max-width: 60rem;
}

.rightContainer {
    flex: 1 1 12rem;
    margin-top: 0.6rem;
    min-width: 14rem;
    max-width: 40rem;
}

.upperItems {
    display: flex;
    flex-wrap: wrap;
    min-height: 16rem;
    gap: 1rem;
}

@media (max-width: 768px) {
    main {
        mask-image: linear-gradient(to bottom, transparent, black 5%);
    }
}
