@import url('https://fonts.googleapis.com/css2?family=Itim&family=K2D:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    line-height: 1.5;
    font-weight: 400;
    background-color: var(--background-color);

    --background-color: #FFFCEA;
    --text-color-dark: #071113;
    --first-color: #bad1ac;
    --first-color-dark: #1a3116;
    --first-accent-color: #69ba52;
    --first-hover-color: #cfe1c7;
    --second-color: #ad9aea;
    --second-hover-color: #bbb6e4;
    --second-accent-color: #8265ea;
    --third-color: #fdd6be;
    --third-hover-color: #fff6ee;
    --fourth-color: #197376;
    --danger-color: #ff0004;
    --danger-hover-color: #ffaeaf;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Itim', cursive;
    color: var(--text-color-dark);
    margin-bottom: 0.4rem;
}

h1 {
    font-size: 2.6rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1rem;
}

p, body {
    font-family: 'K2D', sans-serif;
    line-height: 1.5;
    color: var(--text-color-dark);
}

img, picture, video, canvas, svg {
    max-width: 100%;
}

ul {
    list-style: none;
}

a, Link, NavLink {
    text-decoration: none;
    color: var(--first-accent-color);
    cursor: pointer;
}

a:hover, Link:hover, NavLink:hover {
    color: var(--first-hover-color);
}

/* ---------- Scrollbar ---------- */
::-webkit-scrollbar {
    height: 0.8rem;
    width: 0.8rem;
}

::-webkit-scrollbar-track {
    background: var(--first-color);
    border-radius: 1rem;
    margin-top: 2.6rem;
}

::-webkit-scrollbar-thumb {
    background: var(--first-color-dark);
    border-radius: 1rem;
}

/* ---------- Editor ---------- */
.ProseMirror {
    border: solid var(--first-color);
    border-radius: 2rem;
    padding: 1rem;
}

.ProseMirror p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    color: #999;
    pointer-events: none;
    height: 0;
}

/* ---------- Queries ---------- */
html {
    font-size: 15px;
}

@media (min-width: 1440px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 14px;
    }

    ::-webkit-scrollbar-track {
        margin-top: 2rem;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 13px;
    }

    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.8rem;
    }
}

@media (max-width: 400px) {
    html {
        font-size: 12px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.7rem;
    }
}
