@import url('https://fonts.googleapis.com/css2?family=Itim&family=K2D:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    line-height: 1.5;
    font-weight: 400;
    background-color: var(--background-color);

    /* Default (light mode) */
    --background-color: #FFFCEA;
    --text-color: #071113;
    --primary-color: #bad1ac;
    --secondary-color: #1a3116;
    --accent-color: #69ba52;
    --hover-color: #cfe1c7;
    --red-color: #FF9A9A;
    --red-hover-color: #ffcbcb;
    --red-active-color: #D74444;
}

[data-theme="dark"] {
    --background-color: #071113;
    --text-color: #FFFCEA;
    --primary-color: #bad1ac;
    --secondary-color: #1a3116;
    --accent-color: #69ba52;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Itim', cursive;
    color: var(--text-color);
}

h1 {
    font-size: 2.6rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1rem;
}

p, body {
    font-family: 'K2D', sans-serif;
    line-height: 1.5;
    color: var(--text-color);
}

img, picture, video, canvas, svg {
    max-width: 100%;
}

ul {
    list-style: none;
}

a, Link, NavLink {
    text-decoration: none;
    color: var(--accent-color);
    cursor: pointer;
}

a:hover, Link:hover, NavLink:hover {
    color: var(--hover-color);
}

/* ---------- Scrollbar ---------- */
::-webkit-scrollbar {
    height: 0.8rem;
    width: 0.8rem;
}

::-webkit-scrollbar-track {
    background: var(--primary-color);
    border-radius: 1rem;
    margin-top: 2.6rem;
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 1rem;
}

/* ---------- Queries ---------- */
html {
    font-size: 16px;
}

@media (min-width: 1440px) {
    html {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 14px;
    }

    ::-webkit-scrollbar-track {
        margin-top: 2rem;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 13px;
    }

    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.8rem;
    }
}

@media (max-width: 400px) {
    html {
        font-size: 12px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.8rem;
    }
}
