.form {
    display: flex;
    flex-direction: column;
    max-width: 26rem;
}

.deleteContainer {
    padding: 1rem;
}

.deleteContainer p {
    padding-bottom: 0.4rem;
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}